@model List<Product>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
</head>

<body>
    <div class="container mt-4">
        <div class="card shadow border-0">
            <div class="card-header bg-secondary bg-gradient ml-0 py-">
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-white text-center py-2">Product List</h2>
                    </div>
                </div>
            </div>
            <div class="card-body p-4">
                <div class="row pb-3">
                    <div class="col-6">
                    </div>
                    <div class="col-8 text-info">
                        <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                            <i class="bi bi-plus-circle"></i>  Create New Product
                        </a>
                    </div>
                </div>         
                <table id="tblData" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>ISBN</th>
                            <th>Price</th>
                            <th>Author</th>
                            <th>Category</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</body>
</html>

@section Scripts {
    <script src="~/js/product.js"></script>
}
