@model UserEditVM

<style>
    input[readonly] {
        background-color: gray;
    }
</style>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Edit User</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form asp-action="Edit" method="post" class="row">
            <input asp-for="ApplicationUser.Id" type="hidden" />

            <div class="form-floating py-2 col-12">
                <input asp-for="ApplicationUser.Name" class="form-control border-0 shadow" />
                <label asp-for="ApplicationUser.Name" class="ms-2"></label>
                <span asp-validation-for="ApplicationUser.Name" class="text-danger"></span>
            </div>

            <div class="form-floating py-2 col-12">
                <input asp-for="ApplicationUser.Email" readonly class="form-control border-0 shadow" />
                <label asp-for="ApplicationUser.Email" class="ms-2"></label>
            </div>

            <div class="form-floating py-2 col-12">
                <input asp-for="ApplicationUser.PhoneNumber" readonly class="form-control border-0 shadow" />
                <label asp-for="ApplicationUser.PhoneNumber" class="ms-2"></label>
            </div>

            <div class="form-floating py-2 col-12">
                <input asp-for="ApplicationUser.StreetAddress" class="form-control border-0 shadow" />
                <label asp-for="ApplicationUser.StreetAddress" class="ms-2"></label>
                <span asp-validation-for="ApplicationUser.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="ApplicationUser.City" class="form-control border-0 shadow" />
                <label asp-for="ApplicationUser.City" class="ms-2"></label>
                <span asp-validation-for="ApplicationUser.City" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="ApplicationUser.State" class="form-control border-0 shadow" />
                <label asp-for="ApplicationUser.State" class="ms-2"></label>
                <span asp-validation-for="ApplicationUser.State" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="ApplicationUser.PostalCode" class="form-control border-0 shadow" />
                <label asp-for="ApplicationUser.PostalCode" class="ms-2"></label>
                <span asp-validation-for="ApplicationUser.PostalCode" class="text-danger"></span>
            </div>

            <div class="row pt-2">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Update</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-action="Index" class="btn btn-outline-primary border form-control">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

